<div class="container w-50">
    <form>
      <h3 class="title">Login</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username:</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password:</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="mt-5 text-center">
            <a href="/register">Don't you have an account? Register here!</a>
        </div>
        
      </form>
</div>