.principal-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.register-form-card {
    width: 50%;
    background-color: #A4C3B2;
    border: none;
    
}

.register-form {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: bold;
}

.mat-mdc-unelevated-button.button-login {
    background-color: #6b9080;
    margin-right: 10px;
    margin-left: 50px;
}


.mat-mdc-form-field {
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;

  }

  .mat-mdc-unelevated-button.button-register {
    background-color: #9e5656;
    margin-right: 10px;
}