<div class="principal-container">
  <mat-card class="register-form-card" appearance="outlined">
    <mat-card-content>
      <form class="register-form" [formGroup]="loginForm" (ngSubmit)="loginUser()">

        <mat-card-header class="header">Login</mat-card-header>

        <mat-form-field class="username">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" name="username" [formControl]="usernameFormControl" [(ngModel)]="user.username" />
          <mat-hint></mat-hint>
          @if (usernameFormControl.hasError('required')) {
            <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl" formControlName="password" name="password" [(ngModel)]="user.password" />
          <mat-hint></mat-hint>
          @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <div>
          <button class="button-login" type="submit" mat-flat-button>Login</button>
          <a class="button-register" routerLink="/register" mat-flat-button >New user?</a>
        </div>
  
      </form>
    </mat-card-content>
  </mat-card>
  </div>